[2016-07-28 22:14] mattwala opened #4 "Refiner.get_current_mesh() raises TypeError when called"
Eg.

[code]

[2016-07-29 00:44] inducer commented on #4
@guptashvm, could you take a look?

[2016-08-08 17:30] inducer opened #5 "Refiner dies on application mesh with an index error"
Public version of
https://gitlab.tiker.net/papers/2015-mesh-refinement/issues/1

cc @guptashvm

[2016-09-15 18:08] inducer commented on #5
Whoops. As @guptashvm pointed out, I screwed up. Now fixed.

[2016-09-15 18:08] #5 closed

[2016-09-19 23:42] inducer opened #6 "Make refiner work in 1D"
@guptashvm: The refiner should also work in 1D, i.e. just some line segments strung together. Fortunately, the connectivity computation there should be effectively trivial. @mattwala is currently trying to make that happen. Any comments on gotchas and things that may not be straightforward?

[2016-09-20 04:12] mattwala commented on #6
@guptashvm, @inducer, I think I have figured out how to make the 1D case work (merge request is in gitlab). It was a fairly easy change to make. I think you can close this issue.

[2016-09-20 04:18] inducer commented on #6
Great! I'll close this and look at the MRs tomorrow. @guptashvm, I've added you to the project on gitlab.

[2016-09-20 04:18] #6 closed

[2016-11-30 19:57] mattwala commented on #4
This was fixed by e0d2682e7d555d7783c977fde609803750516f68.

[2016-11-30 19:57] #4 closed

[2020-05-08 20:11] majosm opened #9 "Mesh distribution fails when number of ranks >= 29"
When distributing a mesh generated by `generate_regular_rect_mesh`,  I'm encountering the following error when running on 29 or more MPI ranks:

[code]

Below is a simplified version of the code that can be used to reproduce the error:

[code]

I also have the serialized `mesh` output from an attempted run with 29 ranks ([make_mesh.py](https://github.com/inducer/meshmode/files/4601329/make_mesh.py

[2020-05-08 20:41] majosm commented on #9
Seems like it's adding a `BTAG_PARTITION` to `boundary_tags` for each rank, and it eventually hits the max boundary tag count imposed [here](https://github.com/inducer/meshmode/blob/master/meshmode/mesh/__init__.py#L715-L716). Guessing it's only supposed to be adding those that are adjacent? Not sure how to check if adjacency looks right.

[2020-05-08 21:24] inducer commented on #9
I agree that that's the appropriate thing to do here.

[2020-05-28 19:58] inducer commented on #9
#11

[2020-06-24 19:33] inducer opened #13 "Connections should view themselves as doing projection, not interpolation"
Some of the terminology is annoyingly interp-focused.

[2020-08-04 22:44] #9 closed

[2020-08-05 05:04] inducer opened #24 "Interface with Nico Schlömer's meshio"
https://github.com/nschloe/meshio

[2020-08-06 05:28] inducer opened #26 "Crashes when mesh partitioning produces empty partitions"
Sample run exhibiting the problem: https://github.com/inducer/meshmode/pull/25/checks?check_run_id=951397070

I ran into this as part of #25, but I decided to punt for now.

cc @lukeolson @majosm

[2020-08-10 19:17] inducer opened #28 "Provide a pytest fixture for array context creation"
To avoid ubiquitous code duplication and gratuitous pyopencl imports.

[2020-08-12 18:17] inducer opened #33 "Check consistency during FacialAdjacencyGroup construction"
- boundary groups may only contain boundary tags (all negative `neighbors`)
- non-boundary groups may not contain boundary tags (all positive `neighbors`)

[2020-08-14 18:07] inducer opened #36 "Distributed setup calls _make_cross_face_batches once per face"
[Here](https://github.com/inducer/meshmode/blob/2f84174f03ec9164c3c314b9eb9cdb2c4bd41db7/meshmode/discretization/connection/opposite_face.py#L443-L522). It definitely shouldn't. As the name possibly suggests, `_make_cross_face_batches` is supposed to be a batched routine. (called once per rank pair) @MTCam spotted this when doing some parallel runs.

This is actually pretty bad, since it creates l

[2020-08-14 18:07] inducer commented on #36
@majosm, would you be willing to take a look at this?

[2020-08-15 16:49] inducer commented on #36
The impact of that is that MPI buffer packing is essentially a Python loop over elements

[2020-08-16 20:55] #28 closed

[2020-08-17 18:49] MTCam commented on #36
Doesn't this issue also affect wave-eager examples?

[2020-08-17 18:55] inducer commented on #36
It does.

[2020-09-07 15:13] #36 closed

[2020-10-12 21:02] inducer opened #57 "meshmode.mesh.generation talks about group_factory, but means something different than what's defined in poly_element"
https://github.com/inducer/meshmode/pull/56#discussion_r503467596

[2020-10-12 21:03] inducer commented on #57
cc @alexfikl

[2020-10-14 18:20] inducer opened #62 "ValueError: could not broadcast input array from shape (3,3) into shape (3,4) in test_quad_mesh_2d[3-ball-radius-1.step]"
https://gitlab.tiker.net/inducer/meshmode/-/jobs/178270

This seems related to #56. @alexfikl, could you take a look?

[2020-10-14 18:25] alexfikl commented on #62
Hm, seems like the gmsh reader isn't happy with some of the rectangular elements. I'll give it a look!

[2020-10-14 20:31] #62 closed

[2020-10-16 21:00] #57 closed

[2020-11-04 19:50] MTCam opened #74 "Grid generation fails with dimensionally disparate npoints"
It would be good if we could make rectangular grids with uniform (or arbitrary) spacing.   The example here is a rectangle [0, 10] x [0 , 1]  wherein uniform spacing is attempted, i.e. npts = (101, 11).   The grid generator appears to fail to produce this grid.

[code]

[2020-11-04 20:05] inducer commented on #74
Wasn't this fixed by #72?

[2020-11-04 20:07] MTCam commented on #74
Fixes so fast you'll freak?   Holy cow.

[2020-11-04 20:07] #74 closed

[2020-11-06 01:22] inducer opened #75 "Investigate binary Vtk files"
When working on https://github.com/illinois-ceesd/mirgecom/issues/139, I noticed that base64 Vtk XML files are shockingly inefficient. For equivalent data, Vtk takes 1.6M when a pickle with equivalent data takes 150K.

:scream:

[2020-11-12 03:00] inducer commented on #75
Nvm, fake news. The Vtk files use a poly order that's three higher than the base.

[2020-11-12 03:00] #75 closed

[2020-11-17 20:38] inducer opened #80 "Test MPI-dependent functionality in Github CI"
Pointed out by @nchristensen in #76

[2020-11-17 20:51] inducer opened #81 "Fails with current loopy"
cc @nchristensen

https://github.com/inducer/meshmode/pull/76/checks?check_run_id=1408151437

[2020-11-18 05:02] #80 closed

[2020-11-18 05:02] #81 closed

[2020-11-20 22:48] xywei opened #91 "Reductions in `ArrayContext.np` behave differently from `numpy`"
When the reduction result is a scalar,
- reductions in `numpy`, e.g., `numpy.sum`, `numpy.max`, return a scalar value, while
- reductions in `ArrayContext.np` return an array of size one.

This difference affects, for example, [gmres residual reporting in pytential](https://github.com/inducer/pytential/blob/10c2ea345e69367cfbba67ba5aa2954ebac467cf/pytential/solve.py#L252), where the formatting `.8

[2020-11-20 23:30] inducer commented on #91
Thanks for the report! #92

[2020-11-20 23:52] #91 closed

[2020-11-21 05:33] inducer commented on #91
That wasn't completely it: https://github.com/inducer/pytential/pull/41/commits/c25cf71bbc4be723f9bc8bb46e3a7e2097861d26

[2021-01-18 19:31] inducer opened #103 "Accelerate resample_by_picking through better ordering"
`resample_by_picking` routinely shows up at the top of our GPU profiles. Here's an example from a run (mirgecom wave-eager, `nel_1d = 24`, 3D, order 3):
[code]
It's especially striking that it's at the top of the list because it touches lower-dimensional data. (surface vs volume) `multiply` has a similar number of calls, but it touches volume data, and it completes more quickly.

I think there are

[2021-01-18 21:30] kaushikcfd opened #104 "Defining the semantics for a lazy array context"
I have jotted down some of the possibilities for definitions of `LazyArrayContext.(freeze|thaw)` here: https://notes.tiker.net/R_P642qYTIG5qW1Krea2zQ?both.

[2021-01-19 05:02] inducer commented on #104
- Required to be pure, i.e. side-effect free
- Required to be operating on arrays
- Probably a few more requirements that we should map out exactly

Returns a "potentially more efficient" version of the function. (Returning f itself is valid.)

Terminology: "Operator" is very FEM-specific. `CompiledArrayFunction`?

I agree with the semantics you give.

[2021-01-25 18:44] majosm commented on #103
Still experimenting with this, but so far I'm getting the sense that it's something other than the indirection that's causing `resample_by_picking` to be slow.

First I tried pre-sorting by `batch.to_element_indices`, and that didn't seem to have any effect. Next I tried progressively stripping down the loop (ignoring correctness) to see whether I could simplify it enough to make it disappear from

[2021-01-25 21:52] inducer commented on #103
Thanks for experimenting with this!

It's OK that that doesn't appear in the kernel. It gets used in the "wrapper" code that computes the OpenCL "grid" bounds. Right now, the (simple) work decomposition is one group per element.

As for removing the indirections, it's super confusing to me that that's not having an effect. It *has* to... that's a whole bunch of extra memory access that's now not h

[2021-01-26 01:19] inducer opened #107 "Array Context: do inputs to call_loopy need to be thawed?"
Not currently defined.

cc @kaushikcfd

[2021-01-26 01:22] inducer commented on #107
I'm not sure. For arithmetic, I think requiring thawing makes sense. For `call_loopy`, the array context is supplied (as the `self` argument to `call_loopy`), so it's less clear that it's needed.

[2021-01-26 01:24] inducer commented on #107
For the PyOpenCL array context, passing an un-thawed array is hypothetically fine: It's a constant array that doesn't have a queue.

For the lazy array context, we *could* define passing an un-thawed array as implicitly producing a `DataWrapper`, with similar semantics.

[2021-01-26 01:24] inducer commented on #107
@kaushikcfd, what do you think?

[2021-01-26 01:28] kaushikcfd commented on #107
Agree with the proposal that frozen read-only array inputs should be thawed inside `call_loopy`. It doesn't introduce any performance hits and provides a more convenient interface.

[2021-01-26 01:38] inducer commented on #107
What is "thawing" to you anyway, in this instance? (Remember we're trying to define semantics here IMO: It's not a given what that means.) To me: thawing in CL means "add a queue", thawing in lazy means... hm... stick in a `DataWrapper`. Maybe `thaw` is what I wanted anyay. :)

[2021-01-26 02:05] kaushikcfd commented on #107
I thought the semantics for "thaw"-ing lazy arrays was already defined in #104. The same can be transmitted to the thawing in the context of `call_loopy`, which I believe is reasonable.

[2021-01-26 02:16] inducer commented on #107
Fair.

I guess the main question then is whether we'll require the user to explicitly thaw, or whether we'll implicitly do what's necessary in `call_loopy`. FWIW, IMO if we do anything implicitly, we should only do so for read-only arrays.

Upside of implicit treatment:
- Convenience

Downside of implicit treatment:
- We may wind up with a few separate `DataWrapper`s for the same data. (that are,

[2021-01-26 04:14] kaushikcfd commented on #107
I vote for the implicit treatment. I think the benefits of a cleaner interface outweigh the downsides of a polluted `pt.Namespace()`.

[2021-01-26 04:21] inducer commented on #107
OK, implicit is good by me. Ready to close?

[2021-01-26 05:10] kaushikcfd commented on #107
Yep, resolved from my end too.

[2021-01-26 05:52] #107 closed

[2021-01-26 16:14] majosm commented on #103
Ah, ok.

It's 3D. I'll take a look into the visual profiler thing.

[2021-01-26 18:18] matthiasdiener commented on #103
Note that the visual profiler (`nvvp`) isn't very usable from Lassen, the network latency for graphical apps is too high. It is usually better to generate a profile with `nvprof`, `scp` it to your local machine, and import it into your local `nvvp`.

Note that for the deep analysis, nvvp/nvprof can be flaky for Python applications. I've had luck with the following command:

[code]

, which will cr

[2021-01-30 23:01] matthiasdiener commented on #103
Finally was able to get some decent nvprof results on Lassen:

**Command:**

`$ nvprof --kernels resample_by_picking -m all --replay-mode application python ./wave-eager.py`

**Output:**

<details>

[code]
</details

[2021-02-08 18:46] inducer opened #113 "Run downstream CI"
Like https://github.com/inducer/loopy/pull/220

[2021-02-11 23:13] inducer opened #115 "Enable mirgecom downstream CI"
Leftover from #114.

Reenable mirgecom downstream CI after https://github.com/illinois-ceesd/mirgecom/issues/212

Probably should happen at the same time as  https://github.com/inducer/grudge/issues/44

@matthiasdiener Could you remember to do that once there's a resolution to https://github.com/illinois-ceesd/mirgecom/issues/212?

[2021-02-11 23:16] #113 closed

[2021-02-22 23:38] inducer opened #119 "Surface refinement node-vertex consistency error on Icelake-client"
Continued from the end of #118.

[code]

Quite likely a numpy behavior change.

- numpy 1.20 wheel: fine
- numpy 1.20.1 wheel: fine
- `pip install --no-binary ":all:" numpy cython`: (resulting in 1.20.1) error (*only* on my laptop, not on dunkel)

cc @alexfikl because it feels less lonely that way. :)

[2021-02-23 00:17] alexfikl commented on #119
Just tried it locally with the newer numpy and can confirm I still can't get it to fail. This is on Comet Lake (and probably many OS differences).

[2021-02-23 00:29] inducer commented on #119
Looks like my numpy has bigger problems. It even fails modepy's
[code]
specifically
[code]
(And not by a little. One of those node coordinates is -1.03.)

[2021-02-23 00:35] inducer commented on #119
I could probably chase this further, but I doubt it's worth it. It'll be some crappy BLAS bug. FWIW, it also fails
[code]

[2021-02-23 01:17] inducer commented on #119
OK, fine. Feeling charitable: https://github.com/numpy/numpy/issues/18471

And, I'm not falling for this nonsense again: https://gitlab.tiker.net/inducer/akprojects-bin/-/commit/ad245e404813e70a52129544911549918590ca77

[2021-02-23 01:17] #119 closed

[2021-03-09 00:43] inducer opened #123 "Better support moving geometry"
Some problems that currently crop up:

- [x] Recreating meshes is awkward. @alexfikl proposes `Discretization.copy(mesh=...)` (or `.replace(mesh=...)`). (which?) That seems easy and useful, but it requires remembering the group factory (probably OK).
- `Mesh`es can't be created efficiently. Their data structure involves `numpy` at the moment. Maybe meshes should start using array contexts, too?
-

[2021-03-09 22:27] inducer opened #126 "Optimization opportunity: choose face discretization so that OppositeFaceSwap is single-batch"

[2021-03-10 18:03] MTCam opened #127 "Empty state mismatch"
This appears to be the problem causing [this _MIRGE-Com_ issue](https://github.com/illinois-ceesd/mirgecom/issues/280).  There is a reproducing snippet in [this _MIRGE-Com_ PR](https://github.com/illinois-ceesd/mirgecom/pull/281).

Here's the gist:
[code]

The `bnd_nodes @ bnd_normal` operation fails when the boundary represented by `btag` has 0 points.  (Seems like an odd thing - but this happens

[2021-03-15 05:08] inducer commented on #127
[This snippet](https://gist.github.com/inducer/bcde1f7f6605a8285ca336c0bfa06917) reproduces the problem without MPI.

[2021-03-29 02:57] inducer opened #141 "Method -> function refactoring"
- `Discretization.num_reference_derivative` for sure
- Maybe: `InterpolatoryElementGroup.{diff_matrix,mass_matrices}`.

cc @thomasgibson

x-ref:
- https://github.com/inducer/meshmode/pull/131#discussion_r602931630
- https://github.com/inducer/meshmode/pull/131#discussion_r602932124

[2021-04-06 00:40] #141 closed

[2021-04-06 22:31] inducer commented on #115
Ping @matthiasdiener :bell: :)

[2021-04-07 01:07] inducer opened #150 "make_face_restriction/DG face mass matrix: Handling elements with different-shaped faces"
Way out there, I know, but @thomasgibson, @lukeolson and I were thinking about it today. Currently, the DG face mass matrix code in grudge assumes that for each volume element, one element per face is generated, winding up with `nfaces * nelements` elements, and that the elements for each face are numbered contiguously. This is not feasible for a pyramid, or any other element type that has more th

[2021-04-07 01:09] inducer opened #151 "Not all pure-permutation connections are recognized as such"
This leads (for example) to us doing unnecessary matvecs (`resample_by_mat`) instead of indirect memory access (`resample_by_picking`) in nodal DG.

Solution started in #105

cc @nchristensen

[2021-04-07 15:58] #115 closed

[2021-04-14 22:12] thomasgibson opened #160 "Making `quadrature_rule` a public method on relevant element groups"
This is based on a discussion in https://github.com/inducer/grudge/pull/62.

Currently [NodalElementGroupBase](https://github.com/inducer/meshmode/blob/e901751ec6414bbddd46a1b204c08477a0f28f59/meshmode/discretization/__init__.py#L187) has a public user-facing method `weights`. This is used internally in `grudge` when integrating on these elements, using the `unit_nodes` as quadrature points.

Shou

[2021-04-14 23:00] inducer commented on #160
Thanks for writing up a summary of this! Suppose we go with the direction that https://github.com/inducer/modepy/issues/33 seems to be leaning (?) (i.e. allow feeding `exact_to` to the `Quadrature` constructor), I claim that the resulting "mass matrix quadrature" is exact to the order of the reference polynomial space, by definition of the mass matrix as long as:

* the DOFs are nodal, and
* 1 is

[2021-04-14 23:01] inducer commented on #160
(Opinions?) cc @alexfikl

[2021-04-14 23:03] inducer opened #162 "MPI setup currently broken"
As described by @majosm here: https://github.com/inducer/meshmode/pull/148#issuecomment-818922157

[2021-04-14 23:04] inducer commented on #162
cc @cmikida2

[2021-04-14 23:46] thomasgibson commented on #160
I agree with this. This would allow `quadrature_rule` for the derived classes to return `mp.Quadrature(self.weights, self.unit_nodes, exact_to=self.order)`, correct?

Though is this not well-conditioned, right? You mentioned at one point that this is equivalent to Newton-Cotes, which is... problematic for high order :sweat_smile:

[2021-04-15 00:08] inducer commented on #160
Yep. At least as long as the polynomial space contains P^N (see the current, kinda hokey, definition of `exact_to`).

Newton-Cotes with equispaced nodes is obviously terrible. Newton-Cotes with edge-clustered nodes is not *that* bad. (After all, Newton-Cotes with Legendre nodes is just Gaussian quadrature.)

Here's a demo: https://gist.github.com/inducer/19eb49ff7702d4bf5b12477208540731

[2021-04-15 00:09] inducer commented on #160
(Note how even the weights stay positive in the demo.)

[2021-04-15 00:09] inducer commented on #160
(But how the rule has obviously lost the 2*n accuracy of Gauss.)

[2021-04-15 01:25] thomasgibson commented on #160
Very nice!

I've also gone ahead and started working on this issue: https://github.com/inducer/meshmode/commit/44606a78b4074fd7975ed11b3efe20dc823c5e2e

[2021-04-15 17:47] #162 closed

[2021-04-17 20:33] #160 closed

[2021-05-01 18:37] inducer opened #177 "actx.tag() comes too late to benefit eager mode execution"
For lazy mode, `actx.tag(MyTag(), 2*x+3)` works great. For eager mode, this doesn't help at all, as the result will already be computed (i.e. the kernel whose transformation would have benefited from the metadata was already executed). Is there an tagging interface that can work for both eager and lazy?

cc @alexfikl @thomasgibson @nchristensen @kaushikcfd

x-ref: #176

[2021-05-01 19:46] thomasgibson commented on #177
This is more or less kinda what I was trying (albeit rushed/incomplete) in https://github.com/inducer/meshmode/pull/170 --- Based on your comments there, I can imagine that one would tag information to a loopy program "as you go", which can then be transformed based on said information in [transform_loopy_kernel](https://github.com/inducer/meshmode/blob/main/meshmode/array_context.py#L683). This i

[2021-05-01 19:48] thomasgibson commented on #177
In short, I think tagging can still work for eager.

[2021-05-03 16:19] inducer commented on #177
My thought was that lazy would bypass `transform_loopy_kernel` mostly. And much of eager (specifically the array arithmetic) also directly uses PyOpenCL array arithmetic and bypasses `transform_loopy_kernel`.

[2021-05-03 16:21] inducer commented on #177
I agree that it can, but what this issue is about is the method [`actx.tag`](https://documen.tician.de/meshmode/array.html#meshmode.array_context.ArrayContext.tag), whose job it is to apply a tag to an array result. The complaint is that it'll only work for lazy.

[2021-05-18 20:25] wence- opened #186 "Multiple boundary tags in meshmode export"
https://github.com/inducer/meshmode/blob/6b2bd65e66c7b7ec9c0de2f4b747df6cbc1ac053/meshmode/interop/firedrake/mesh.py#L802-L805

FWIW, since firedrakeproject/firedrake#2007 entities can be marked with multiple tags and it all works. After building the plex, create a `"Face Sets"` label (or if you don't like that literal, a `firedrake.cython.dmcommon.FACE_SETS_LABEL`) (or `CELL_SETS_LABEL` for cells

[2021-05-18 20:34] wence- opened #187 "Firedrake connection: upcoming changes to the way we handle orientations"
Just FYI, we have a (longish, perhaps by October) plan to change the way we handle orientation of meshes on the Firedrake side. Rather than globally orienting the mesh such that every physical element maps to the same reference element, each physical element will be mapped onto the reference element through some member of the relevant dihedral group. This will then entail changes to the way one gr

[2021-05-19 16:29] inducer commented on #186
cc @benSepanski

@wence- Thanks for the heads-up!

[2021-05-19 16:30] inducer commented on #187
@wence- Thanks for letting us know! Once there's a PR to look at, could you add a comment here, so that we can get a branch going?

cc @benSepanski

[2021-05-27 00:13] benSepanski commented on #186
The examples in [utility meshes](https://github.com/firedrakeproject/firedrake/blob/7abe9f4bc7bdb99b93cfe6ca1c0963b0175ec641/firedrake/utility_meshes.py#L75) seem to only tag each face label with one tag (e.g. `plex.setLabelValue(FACE_SETS_LABEL, face_id, label_id)`). Are there any examples of tagging with multiple tags?

[2021-05-27 01:50] thomasgibson opened #198 "Updating how we flatten DOF arrays in anticipation for lazy evaluation"
This issue is specifically addressing how to update the flatten routine for DOFArrays, found here: https://github.com/inducer/meshmode/blob/bbec89ae7b8cc82a42696b4efd9a0f6beb7ee741/meshmode/dof_array.py#L381-L412

Basically, the summary of the problem is that we need to remove stateful updates of the array since this will break lazy-evaluation. The intent of #192 is to hunt down and update all ins

[2021-05-27 04:07] inducer commented on #198
The only difference is that the flatten kernel needs to stick and be used in place of the reshape. (The reshape can be used if the strides are right, as with the code in #154).

[2021-05-27 08:12] wence- commented on #186
I don't think so. You can make a gmsh mesh that does multiple tags. Or just copy one of those functions and do multiple marking.

[2021-06-02 16:30] inducer opened #205 "Should store per-interpolation-batch surjectivity information"
In the (relatively common) surjective case, we could skip emitting these global barriers:

https://github.com/inducer/meshmode/blob/cdcc7f5e4ae883a31ac9da3629b0acd2289e2a34/meshmode/discretization/connection/direct.py#L310-L311)

https://github.com/inducer/meshmode/blob/cdcc7f5e4ae883a31ac9da3629b0acd2289e2a34/meshmode/discretization/connection/direct.py#L342-L343

cc @thomasgibson

[2021-06-02 17:36] inducer opened #206 "L2ProjectionInverseDiscretizationConnection should allow modal output"
This could avoid the forced (and possibly un-needed) modal-to-nodal conversion at the end of the connection:

https://github.com/inducer/meshmode/blob/cdcc7f5e4ae883a31ac9da3629b0acd2289e2a34/meshmode/discretization/connection/projection.py#L219-L229

I *think* this is easy to do since it receives a connection as input. It just needs to check whether the output side of the connection is modal, and

[2021-06-02 18:41] #198 closed

[2021-06-07 16:54] inducer opened #211 "Adapt Firedrake interop to Firedrake complex branch"
https://github.com/inducer/meshmode/blob/6e0dffc6f358c62e6be35d1016a62a1106e593a0/meshmode/interop/firedrake/connection.py#L513-L515

seems to require all fields to agree with the geometry dtype, which seems overly restrictive given that, as of the complex merge, Firedrake supports complex data. Florian Bruckner reported this on Slack, with a backtrace like the following:
[code]

cc @benSepanski

[2021-06-08 03:51] inducer opened #214 "Spurious, (seemingly) very occasional NaN in"
Last seen in https://github.com/inducer/meshmode/pull/213/checks?check_run_id=2770076958:

[code]

See also #210.

cc @alexfikl

[2021-06-08 18:49] #214 closed

[2021-06-12 22:41] kaushikcfd opened #219 "dof_array.flat_norm is CL-specific"
cf.
https://github.com/inducer/meshmode/blob/f87576dedf373c785172e20d0fb956c7194c2ba6/meshmode/dof_array.py#L645-L646

[2021-06-12 22:47] kaushikcfd commented on #219
Why does `flat_norm` flatten a group's values before computing the norm?

[code]

[2021-06-12 22:55] kaushikcfd commented on #219
Oops forgot my 450 here. Feel free to ignore this.

[2021-06-12 23:50] inducer commented on #219
To be fair, I think numpy defaults to Frobenius, which is equivalent to a flattened 2-norm for 2D arrays. For (say 3D) tensor product elements, the shape will likely be `(nelements, Np, Np, Np)`, which would just be an error in numpy, making the flatten necessary after all.

[2021-06-14 18:00] #219 closed

[2021-06-16 17:28] inducer opened #224 "Element groups shouldn't have to change when joining a mesh/discretization"
That means that things like `index` and `element_nr_base` and such shouldn't exist. They belong in the mesh or discretization.

We should deprecate and eventually remove these fields.

[2021-06-17 23:54] inducer opened #230 "Missing transforms on compose_index_maps in DirectDiscretizationConnection"
See this FIXME:

https://github.com/inducer/meshmode/blob/e179d357a283269b19b36af29487004d3873252a/meshmode/discretization/connection/direct.py#L126-L132

Left over from #220.

x-ref: https://github.com/inducer/arraycontext/pull/29, https://github.com/inducer/meshmode/pull/220/commits/03d883ab663ba3ac1f36e84b461dfc9d0b63e88a

cc @matthiasdiener @thomasgibson

[2021-06-29 01:10] alexfikl opened #237 "ArrayContext.np.sqrt fails for device scalars"
Doing a norm-like operation
[code]
doesn't work after the transformations from #236. It seems like `actx.np.sqrt` doesn't like getting a scalar from `sum` and fails in this check

https://github.com/inducer/meshmode/blob/d95cb2a1e6462a1e2aed3dfe13b9881a00db1122/meshmode/array_context.py#L93-L96

The same probably holds for any other elementwise operation in `actx.np`.

[2021-06-29 01:20] alexfikl commented on #237
Actually this doesn't seem to have worked with the transformations from `arraycontext.PyOpenCLArrayContext` either. Should it work?

[2021-06-29 02:03] inducer commented on #237
That conditional is a bit rigid in retrospect. It's fine to relax that (and not tag any inames as a result).

[2021-06-29 02:25] alexfikl commented on #237
Tried just adding a `continue` instead of the `raise` in there, but loopy doesn't appreciate it either and fails here (next to a FIXME)

https://github.com/inducer/loopy/blob/e232bb1361479f2e6fd3bd7efd7f4ecce270947f/loopy/target/c/codegen/expression.py#L152-L155

(the offset is `lp.auto`)

[2021-06-29 05:29] inducer commented on #237
(As a workaround, you could just `**0.5` for now.)

[2021-06-30 22:00] inducer commented on #237
IIUC, @kaushikcfd just applied the meshmode half of this fix in #243. Now it's just the loopy FIXME that remains.

Somewhat related: https://github.com/inducer/loopy/pull/453/

[2021-06-30 22:47] kaushikcfd commented on #237
Trying out a solution here: https://github.com/inducer/loopy/pull/454/files

[2021-06-30 23:47] alexfikl commented on #237
Just tried it out and can confirm that this seems to work with inducer/loopy#453 and inducer/loopy#454
[code]

[2021-07-01 20:37] inducer opened #245 "Two `resample_by_picking` in simple-dg TranslationUnit"
I was just playing with (and being amazed by!) https://github.com/inducer/meshmode/pull/216.(https://github.com/inducer/meshmode/pull/216/commits/1de7f8f8fc3518ead4cd0191adf2238078636543 specifically, and https://github.com/inducer/pytato/commit/585576ac4a94c6bc3e38e5fc85ffa2fb165afea0)

If I run `python simple.dg --lazy` and set a break point at https://github.com/inducer/arraycontext/blob/82b03d

[2021-07-14 16:11] majosm opened #249 "Sampling at a point in space"
@dshtey2 is looking for a way to evaluate `DOFArray`-based fields at given spatial positions. This issue is intended for discussion of that functionality: what code might already exist for this, what needs to be added, etc.

cc @inducer

[2021-07-14 16:29] dshtey2 commented on #249
Here is some additional information on my idea for how to accomplish this. I am looking for a routine that can succinctly accomplish this, or one that can perform an even simpler procedure:

1. For a given sample point or points, determine which element(s) contain(s) that or those points (through some convex hull checking function, such as taking the sums of distances to all nodal points in an ele

[2021-07-14 17:02] inducer commented on #249
Good question! Various parts of this might exist in a way that we might be able to factor out. First of all, @xywei might already have this functionality in a form that can be reused. @xywei, could you comment?

- Finding elements is probably the hardest bit. It looks like https://github.com/xywei/volumential/blob/main/volumential/interpolation.py solves this via geometric queries from https://doc

[2021-08-11 19:47] majosm commented on #249
@inducer Do you have a sense of how well-behaved the basis functions are when evaluated outside of the unit element coordinate range?

I had suggested to @dshtey2 first using the elements' bounding boxes to find those that are "close" to the query point, then computing the unit coordinates of the point relative to them, and then using those unit coordinates to determine whether the query point is

[2021-08-11 20:07] inducer commented on #249
While I don't think that in general there's much of an expectation that evaluating functions outside of the reference element would yield meaningful results, in your case (given purely affine mappings), you should be able to evaluate basically anywhere. (For context, in #228, I observed what seems like a similar non-uniqueness issue, but that was for a genuinely curvi mesh.)

When you say "the coo

[2021-08-11 20:28] majosm commented on #249
Yep. (Even after cranking up the iteration count.)

For a query point (0, 0) I get (each column is a candidate element; the second column is the one that fails):

[code]

For (0, 1e-5) I get:

[code]

and for (0, -1e-5) I get:

[code]

[2021-08-11 20:37] inducer commented on #249
Huh, interesting. That should be fixable. Could you put code to reproduce this somewhere? (Maybe a temporary PR)

[2021-08-11 21:41] majosm commented on #249
The code is in mirgecom at the moment, in @dshtey2's branch. I tweaked his test into a pytest test and put it up at illinois-ceesd/mirgecom#479. (It can also be run manually with `pytest test_sampling.py`.)

[2021-08-24 23:02] inducer opened #258 "Modal / nodal tracking"
Right now, it's possible to feed modal data to things that expect nodal data and vice versa. Everything is just a bunch of numbers in a `DOFArray`. Especially if @thomasgibson's entropy-stable work manages to stick, this will be a persistent source of user error. We should perhaps have the `DOFArray` remember the [`discretization_key`](https://documen.tician.de/meshmode/discretization.html?highlig

[2021-08-25 00:47] alexfikl commented on #258
Would it work to introduce some subclassses `NodalDOFArray` and `ModalDOFArray`? Then each connection or whatnot can check if it got the right subclass. Some nice side effects
* the arithmetic in `arraycontext` checks `other.__class__ is cls`, so we wouldn't be able to do arithmetic on modal and nodal `DOFArray`s together by construction
* typing annotations?
* easy to inspect by printing the name

[2021-08-25 04:38] inducer commented on #258
I agree that using type annotations to check this statically would be appealing.

- The main difficulty I see with the approach you propose is that, technically, modal-vs-nodal is a per-group decision, and pretending otherwise is (IMO) going to lead to trouble. The first yuckiness I can foresee is having to check all element groups for modal-/nodal-ness... and then do you raise an error if it's no

[2021-08-25 14:14] alexfikl commented on #258
What's the usecase for mixing modal and nodal values in the same `DOFArray`?

Also, if it's a per-group decision, what would passing a mixed `DOFArray` to a connection do? Would it only work on the groups it can or error out?

Oh yeah, that would be very cool to check somehow!

[2021-08-25 16:06] alexfikl commented on #258
Ah, got it now!

Would this be optional? What I'm thinking of is: e.g., pytential has that granularity stuff that doesn't correspond to the degrees of freedom of any existing group.

[2021-08-25 16:17] inducer commented on #258
Oof, you're right. I mean, in principle it would be easy to make up some unique "discretization keys" for those cases, too. But given that concern, I think I agree that we would likely phase that in gradually, by deprecating the case where no discretization keys are supplied.

[2021-09-22 20:54] inducer opened #266 "Move away from `pytools.Record` types"
Towards dataclasses, maybe.

Further discussion: https://github.com/inducer/meshmode/pull/252#discussion_r713986759

cc @thomasgibson @majosm

[2021-10-07 22:23] inducer opened #269 "`make_face_restriction` will operate without complaint on non-existent boundary tags"

[2021-10-10 21:54] inducer commented on #269
I think it makes sense to able to tell a boundary tag that was never intended to be usable (e.g. one with a typo) from one that's sensible to use but empty (such as a boundary that exists in the mesh in general but not this partition). IMO, it's a quality-of-life improvement that helps avoid unnecessary mistakes.

I agree that the current data structure doesn't do it unaided. Of the two options yo

[2021-10-11 18:50] inducer commented on #269
If `nproc` counts all processors (instead of neighbors), then I think that would hurt. But I'm not sure that's required. Also, we could add (probably underscored) methods that cache the currently linear-time queries if the expense gets too high.

So I think those inefficiencies are likely avoidable.

[2021-10-15 18:12] inducer opened #271 "How to realize indirect accesses (reads or writes)"
For the benefit of lazy eval/pytato, all our indirect accesses are predominantly expressed as indirect reads. Indirect writes are also possible. Which of the two has higher throughput on a GPU? It might be worth studying that.

cc @kaushikcfd

[2021-10-18 19:56] inducer opened #274 "Teach PyOpenCLArrayContext how to deal with loopy programs without loops"
The equivalent to https://github.com/inducer/arraycontext/pull/105 also needs to happen in meshmode's transforming pyopencl actx.

cc @majosm

[2021-10-25 15:34] inducer opened #277 "Should node finding use Newton or Gauss-Newton?"
Upsides of Gauss-Newton:

- More robust?
- Gives us "the closest" if the exact point can't be found

Downside:
- Conditioning penalty via the normal equations

https://github.com/inducer/meshmode/blob/dd247039a027e9b75417e4fdddf8cc4c608b6622/meshmode/discretization/connection/opposite_face.py#L136-L153

cc @xywei @alexfikl @majosm

[2022-02-16 00:19] alexfikl commented on #266
After #283 only the `Mesh` is a `Record` in the whole codebase.

[2022-02-22 16:32] inducer opened #303 "Make a way to create a sub-boundary"

[2022-03-18 23:55] matthiasdiener opened #310 "Tolerance too strict in _test_node_vertex_consistency_resampling"
We have seen lots of errors like these:

[code]

This is the code:
https://github.com/inducer/meshmode/blob/48abe4bedf5e54e57fca392756423b6f45abff9a/meshmode/mesh/__init__.py#L1178

[2022-03-19 00:03] alexfikl commented on #310
What sort of meshes are these? I've only been able to trigger that if there was actually something weird with the mesh.

You can work around it from the outside by setting `node_vertex_consistency_tolerance` in the mesh constructor:
https://github.com/inducer/meshmode/blob/c1ff399316fc15938723433a3308f0710751e11b/meshmode/mesh/__init__.py#L919

[2022-03-19 00:06] matthiasdiener commented on #310
We have seen it most recently with this: https://github.com/illinois-ceesd/drivers_y2-isolator/tree/main/data/3D/eightX_injection

[2022-03-19 00:09] alexfikl commented on #310
Hm, I don't think the gmsh reader has a way to pass down the tolerance (most things in `mesh.generation` do), so this might need a bit of work.

[2022-03-19 01:26] alexfikl commented on #310
@matthiasdiener I just tried that mesh with just
[code]
and it didn't throw an error for me, weirdly. What version of `gmsh` are you using?

[2022-03-25 14:25] matthiasdiener commented on #310
These errors seem to be dependent on rank numbers as well. I tried https://github.com/illinois-ceesd/drivers_y2-isolator/test_mesh/lazy/oneX with 32 ranks, which does not trigger assertion, but 64 ranks trigger it.

[2022-03-25 14:42] alexfikl commented on #310
Do the partitions look reasonable?

The error in the check is relative `tol * size`, where `size` is the bounding box of the mesh and `tol ~ 1.0e-13`. The only way I can see that failing like in your original report is if the `size` is very small for some reason.. Hm..

[2022-03-27 19:59] inducer opened #315 "Automatically fix orientation of volume meshes from gmsh?"
Given the grief in https://github.com/illinois-ceesd/drivers_y2-isolator/issues/13, I wonder whether it might not be better to automatically fix the orientation of volume meshes coming in from gmsh.

Some aspects to consider.
- There's of course some cost to this.
- As of #299, the element orientation check is no longer disabled by `python -O`.
- Automatic flipping is only possible for volume mesh

[2022-03-27 21:33] MTCam commented on #315
👍  from my perspective.  A nice fat warning would be nice:  "Nice try, fool."

I think this has been true for at least a half a week already, right?  Allowing a run to proceed that is using a mis-oriented mesh, imo should be disallowed.   If a user wants to do this, they can monkey with it .. thy own self on YOYO time.

This issue does not affect us atm, and we have no plans (or need) to use anyth

[2022-03-28 03:53] inducer commented on #310
I like that idea. Since this is an element-scale error, comparing to another element-scale quantity is likely a better idea (and more robust) than anything to do with the overall mesh size.

@majosm, could you do a PR?

[2022-03-28 14:27] anderson2981 commented on #315
I'm on board with a fix and a notification that it's being fixed, which allows the user to figure out why their mesh is wonky.

[2022-03-28 16:09] lukeolson commented on #315
Seems reasonable to either fail (and not proceed), or to fix the bad elements.

[2022-03-28 21:32] majosm commented on #310
@matthiasdiener Can you try #316 on some of your isolator runs? (It should be independent of partitioning now; just want to make sure the tolerance isn't too tight.)

[2022-04-03 17:05] kaushikcfd opened #317 "Pickling DOFArrays loses metadata"
Consider the snippet below:
[code]

Prints:
[code]

The `loaded_state` is no longer tagged with `FooTag`.

/cc @matthiasdiener

[2022-04-17 22:49] inducer commented on #317
#318 is in, which should address this. Closing.

[2022-04-17 22:49] #317 closed

[2022-04-21 16:41] kaushikcfd opened #321 "Resampling can lead to expressions that index along a 0-long axis"
Expressions like these: https://github.com/inducer/meshmode/blob/cfe8346044d1333ec9ab75e03734cb7addedd2b4/meshmode/discretization/connection/direct.py#L688-L692

could lead to expressions like --
[code]

notice how the expression in `main()` function is only valid for lazy array packages. Another point to note is that `jax` (unlike pytato) makes indexing into 0-long axes illegal to begin with.

[2022-04-21 18:12] inducer commented on #321
I'm OK with making those illegal in pytato as well! IIUC, this is easy to avoid. If the source element group is empty, we can just skip that contribution.

[2022-04-22 23:17] inducer opened #322 "`dim` and `ambient_dim` should be attributes of the mesh"
So that we can discover them even when there are no elements.

Context: https://github.com/inducer/meshmode/pull/308#issuecomment-1107027734

cc @majosm

[2022-05-03 04:22] #321 closed

[2022-06-10 22:49] inducer opened #333 "Remove `FirstAxisIsElementsTag` and related transform infrastructure"
This is mostly outdated, now that we can tag per-axis, and given that @kaushikcfd's more modern transform infrastructure is on the way. (cf #248 and the newer fusion array contractor).

[2022-06-11 20:05] inducer opened #335 "Loopy cache collision in CI"
Pointed out by @alexfikl in https://github.com/inducer/meshmode/pull/334#issuecomment-1152986288.

[2022-06-11 21:51] kaushikcfd commented on #335
Has been there since https://github.com/inducer/meshmode/pull/254. That was the PR when we started testing against `PytatoPyOpenCLArrayContext`.

[2022-06-12 23:22] inducer commented on #335
Should be fixed by https://github.com/inducer/loopy/pull/628.

[2022-06-12 23:25] kaushikcfd commented on #335
Re-triggered the CI on `main` to verify that the warning is gone. After which we can close this!

[2022-06-12 23:51] kaushikcfd commented on #335
Looks like the CI is clean. Thanks for the report @alexfikl!

[2022-06-12 23:51] #335 closed

[2022-06-22 15:17] majosm commented on #224
Can this be closed? (Noticed while scanning the issues list for undergrad project ideas. 🙂)

[2022-06-22 15:18] majosm commented on #13
Still an issue, or can this be closed?

[2022-06-24 17:18] inducer opened #339 "Make it clearer that `default_simplex_group` is not for external use"
By deprecating it and adding an underscored version.

By "definition", the function is not precise about what local discretization is chosen, which is a bad idea for code that expects consistent results run-to-run. It's currently used in mirgecom here:

https://github.com/illinois-ceesd/mirgecom/blob/0a43d11bdf5a21552a875636d8e5cefe23f76ab7/mirgecom/discretization.py#L59-L60=

and its use has also

[2022-06-24 20:15] MTCam commented on #339
Woops!  I'll clean that up in this next PR.  I stumbled on that function and thought it looked great because it would continue working even without the `recursivenodes` package.

[2022-09-19 20:22] #310 closed

[2022-10-11 13:01] MTCam opened #350 "Performance of `generate_box_mesh`"
`generate_box_mesh` appears to be taking an inordinate amount of time.  This seems to be due primarily to the part of the generator that determines facial adjacency to domain boundaries.

For every boundary (including periodic boundaries), the code loops through all elements, and determines adjacency for each face in the element.   For large (10s of millions of elements) with several boundaries (i

[2022-10-11 13:29] majosm commented on #350
I'm looking into whether we can change the interface to `_compute_facial_adjacency_from_vertices` to pass in a tag/face mapping that can be computed more efficiently. The current `frozenset(fvi)` dictionary approach precludes us from using numpy for this code, so it ends up being pretty slow.

[2022-10-11 17:54] #350 closed

[2022-10-13 06:12] kaushikcfd opened #355 "[Direct Connection] Group Contributions (probably) should not be summed"
I was looking at the generated expression for the direct connection expression and it is of the form:
[code]
i.e. it is of the form `(A if B else 0) + (C if D else 0) + (E if F else 0)`, but I think the optimized way of writing this would be `A if B else (C if D else (E if F else 0))`, notice how this could save us some conditional computation i.e. global memory reads.

[2022-10-13 06:37] kaushikcfd commented on #355
One some more thought I think the current way of summing the contributions is too global memory heavy instead storing the mapping into a single array should be more efficient:
[code]
This should significantly decrease the global memory footprint and also the number of arguments pulled in by the expression. (I think)

[2022-10-14 20:36] inducer commented on #355
I agree the sum is not lovely.

As long as none of the intermediates are materialized, the two things I can see wrong with it are
- The `from_el_present` are likely avoidable
- The `from_el_indices_2` are bigger than they need to be

Is that your sense as well?

[2022-11-01 19:57] majosm opened #358 "Mesh check in `make_same_mesh_connection` too strict?"
@anderson2981 and @tulioricci have both run into errors in `make_same_mesh_connection` when restarting with different orders. Specifically, this check is failing:

[code]
I suspect it's related to the mesh boundary tag relabeling that grudge does when constructing `DiscretizationCollection`s. Strangely, though, changing the check condition to

[code]
doesn't appear to help, so maybe something else

[2022-11-01 20:27] alexfikl commented on #358
I had something in this direction here if it helps: https://github.com/alexfikl/meshmode/commit/6b35e06c98c32cae056a2648e33755e6540f701b

It mostly just checks that the structure of the discretizations is the same, but it doesn't have any special handling for transformed meshes. If you think it would be useful, I can open a PR.

[2022-11-01 21:59] majosm commented on #358
#359 might be good enough for this particular issue; we'll see.

[2022-11-30 00:27] kaushikcfd opened #362 "Rename Discretization(Element|Face|AmbientDim|TopologicalDim|DOF)AxisTag -> (Element|Face|AmbientDim|TopologicalDim|DOF)AxisTag?"

[2022-11-30 00:36] inducer commented on #362
I'm on board with that.